section.bg-image[style="background-color: #f5f5f5; min-height: 100vh;"]
  .mask.d-flex.align-items-center.gradient-custom-3[style="min-height: 100vh;"]
    .container
      .row.d-flex.justify-content-center.align-items-center[style="min-height: 100vh;"]
        .col-12.col-md-9.col-lg-7.col-xl-6
          .card[style="border-radius: 15px;"]
            .card-body.p-5
              h2.text-uppercase.text-center.mb-5
                | Create an account
              - if resource.errors.any?
                .alert.alert-danger[style="border-radius: 10px; background-color: #f8d7da;"]
                  h4.text-center
                    | Please fix the following errors:
                  ul.list-unstyled.mb-0
                    - resource.errors.full_messages.each do |message|
                      li.mb-1
                        i.fas.fa-exclamation-triangle
                        = message
              = form_with model: @user, url: user_registration_path, local: true do |f|
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.text_field :name, class: "form-control form-control-lg", placeholder: "Name"
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.text_field :email, class: "form-control form-control-lg", placeholder: "Email"
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.text_field :birth_date, class: "form-control form-control-lg", placeholder: "YYYY-MM-DD", type: "text"
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.text_field :phone_number, class: "form-control form-control-lg", placeholder: "Phone Number", type: "text"
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.password_field :password, class: "form-control form-control-lg", autocomplete: "off", placeholder: "Password"
                .form-outline.mb-4[data-mdb-input-init=""]
                  = f.password_field :password_confirmation, class: "form-control form-control-lg", autocomplete: "off", placeholder: "Repeat your Password"
                .d-flex.justify-content-center
                  = f.submit 'Sign up', class:"btn btn-light border-dark btn-block btn-lg gradient-custom-4 text-body"
                p.text-center.text-muted.mt-3.mb-0
                  | Already have an account? 
                  = link_to 'Log in here', new_user_session_path, class: 'fw-bold text-body'
                button.btn.btn-dark.mt-3
                  = link_to 'Sign in with GitHub', user_github_omniauth_authorize_path, class: 'text-white text-decoration-none'
