<div class="container">
  <div class="row">
    <div class="col border border-dark">
      <h1>X</h1>
      <nav class="border border-dark">
        <a href="" class="d-block">Home</a>
        <a href="" class="d-block">Post</a>
      </nav>
      <div class="user mt-3 border border-dark">
        <a href="" class="d-block"><%= current_user.name %> さん</a>
      </div>
    </div>
    <div class="col-6 text-center border border-dark">
      center container
    </div>
    <div class="col text-center border border-dark">
      right container
    </div>
  </div>
</div>